@import url("stylesheet.css");

.site_main {
    padding: 16px 0;
}

.mentions_legales {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}

.mentions_legales h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
}

.mentions_legales p {
margin-top: 5px;

}

.construction {
    font-style: italic;
}

@media screen and (min-width: 560px) {
    .site_main {
      margin-left: auto;
      margin-right: auto;
    }
  
    .mentions_legales {
      width: 560px;
    }
  }


