@import url("stylesheet.css");
@import url("menu.css");

.menu {
    background-color: #fdfffd;
    font-family: 'Kalam', cursive;
    font-style: italic;
}

.menu_titre {
    font-size: 70px;
    font-weight: bold;
}

.underline:after {
    background: linear-gradient(to right, #4da043, #beff7f);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: solid 1.7px transparent;
 
}
