@import url("stylesheet.css");
@import url("menu.css");

.menu {
    background-color: #fff5fe;
    font-family: "Noto Serif", serif;
}

.menu_titre {
    font-size: 45px;
    font-weight: bold;
}

.entrée {
    color: #c67412;
}

.plat {
    color:#a56799;
}

.dessert {
    color:#6e4ccc;
}