@import url("stylesheet.css");
@import url("menu.css");

body {
    font-family: 'Caveat', cursive;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

.menu {
    background-color: #fdfffd;
}

.underline:after {
    background: linear-gradient(to right, #4da043, #beff7f);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* !importanté */
    border: solid 1.7px transparent; /* !importanté */
 
}
