h2 {
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
}

.site_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 0 10px;
}

.menu {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu_titre,
.entree_titre,
.plat_titre,
.dessert_titre {
    text-align: center;
    font-size: 1rem;
}

.menu_titre {
    font-size: 40px;
}

.underline:after {
display: block;
content: "";
transform: scaleX(0);
border-bottom: solid 1.7px;  
transition: transform 250ms ease-in-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 100%;
}


.grid_decoration {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    align-items: center;
    justify-items: center;
}

.grid_decoration img {
    max-width: 100%;
    height: auto;
}

.prix {
    margin-left: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    font-size: .9rem;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top:15px;
}

li:first-child {
    /* margin-top:0; */
}

@media screen and (min-width: 600px) {
    .site_main {
      margin-left: auto;
      margin-right: auto;
    }
  
    .menu {
      width: 600px;
    }

.entree_titre,
.plat_titre,
.dessert_titre {
    text-align: center;
    font-size: 1.3rem;
}

    ul {
        font-size: 1rem;
    }
}