@import url("stylesheet.css");
@import url("menu.css");

.menu {
    background-color: #fcdfdb;
}

.fin_menu {
display: grid;
grid-template-columns: .8fr 1fr;
gap:5px;
align-items: center;
}

.div_entrée_titre {
    display: flex;
    justify-content: space-between;
}

.semiquaver-title {
    max-width: 10%;
    height: auto;
}

.fin_semiquaver {
    float: right;
    max-width: 15%;
    height: auto;
}

fin_title {
}