@import url("stylesheet.css");
@import url("menu.css");

.menu {
    background-color: #fcdfdb;
    font-family: 'Caveat', cursive;
}

.fin_menu {
display: grid;
grid-template-columns: .8fr 1fr;
gap:5px;
align-items: center;

/* display: flex;
justify-content: center;
align-items: center; */
}

.div_entrée_titre {
    display: flex;
    justify-content: space-between;
}

.semiquaver-title {
    justify-self: flex-start;
    max-width: 10%;
    height: auto;
}

.fin_semiquaver {
    float: right;
    max-width: 15%;
    height: auto;

    /* display: inline-block;
    max-width: 5%;*/
}

fin_title {
}