@import url("animations.css");

@media screen and (max-width: 599px) {
}

:root {
  --main-texte-color: #fcca46;
}

body {
  box-sizing: border-box;
  display: grid;
  margin: 0;
  min-height: 100vh;
  grid-template-rows: 75px 1fr 40px;
}

header,
footer,
.button_Prochainement p {
  background-color: #569c87;
  color: var(--main-texte-color);
  font-family: "Montserrat", sans-serif;
}

header a:link,
header a:visited,
footer a:link,
footer a:visited {
  text-decoration: none;
  color: var(--main-texte-color);
}

header {
  display: grid;
  place-items: center;
}

.titre {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 10px 10px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.site_main {
  background-color: #fff;
  display: grid;
  /* min-height: 100vh; */
  grid-template-rows: 85% 15%;
}

.container_ListofMenus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin: 15px 20px 0 20px;
  /* place-items: center stretch; */
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.tile p {
  margin: 0;
  line-height: 0.8rem;
}

.tile a {
  text-align: center;
  line-height: 1rem;
  width: 100%;
}

.tile a:link,
.tile a:visited {
  text-decoration: none;
}

.tile a:hover {
  transform: scale(1.2);
  transition: transform 850ms;
  transition-delay: 0, 250ms;
  cursor: pointer;
}

.tile_LaNoteEnchantee {
  background-color: #fcdfdb;
  color: #3c1218;
}

.semiquaver-menu {
  max-width: 15%;
  height: auto;
}

.tile_LeChicalaFrancaise {
  background-color: #fff5fe;
}

.tile_LeDelicedesPapilles {
  background-color: #f9f9f9;
}

.tile_LaPaletteduGout {
  background-color: #fdfffd;
}

.button_Prochainement {
  display: grid;
  place-items: center;
}

.button_Prochainement p {
  margin: 0;
  font-size: 1.1rem;
  padding: 7px 30px;
  border-radius: 0.5rem;
}

.background_clip {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}

.color_LeChicalaFrancaise {
  background: linear-gradient(to right bottom, #c67412, #a56799, #6e4ccc);

}

.color_LeDelicedesPapilles {
  background: linear-gradient(to right, #0228dd,#0670f3, #229df9);
}

.color_LaPaletteduGout {
  background: linear-gradient(to right, #4da043, #beff7f);
}



